@charset "UTF-8";
#day_block {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #day_block .day {
    font-size: 20px;
    color: black;
    display: block;
    height: 300px;
    width: 40%;
    margin: 20px 20px 0 0;
    box-sizing: content-box;
    overflow: auto;
    background-color: cornsilk; }
    #day_block .day .text_day {
      font-size: 30px;
      margin: 10px auto;
      display: block; }
  #day_block scrollbar-thumb {
    border: none; }
  #day_block scrollbar-track {
    border: #349eeb; }
  #day_block ul {
    margin: 0;
    padding: 0;
    display: block; }

.active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

li {
  list-style-type: none;
  border-bottom: 3px solid cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite; }

.button_delete {
  border: none;
  width: 25px;
  height: 25px;
  background: url("../img/delete-button.png") no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  margin-right: 5px; }

.osnov {
  text-align: center; }
  .osnov .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white; }
  .osnov h1 {
    margin: 0 auto; }

#enter {
  width: 80%;
  height: 30px;
  font-size: 18px;
  margin-right: 10px; }

#add_button {
  background: url("../img/add2.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer; }

#remove_button {
  background: url("../img/remove.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer; }

#save_button {
  background: url("../img/save.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer; }

.wrap_button {
  background: url("../img/wrap.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none; }

.wrap_button:focus {
  outline: none; }

.d {
  background: #349eeb; }

label {
  display: flex; }
  label .text {
    color: black;
    font-size: 20px; }
  label .checkbox {
    display: none; }
  label .checkbox-custom {
    width: 25px;
    height: 25px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black; }

.checkbox:checked + .checkbox-custom:before {
  content: '✔';
  top: 5px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-size: contain; }

.el {
  background: cornsilk !important; }

.buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 50px auto 0; }

.DoneTask {
  background: cornsilk; }
