#day_block {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .day {
    font-size: 20px;
    color: black;
    display: block;
    height: 300px;
    width: 40%;
    margin: 20px 20px 0 0;
    box-sizing: content-box;
    overflow: auto;
    background-color: cornsilk;

    .text_day {
      font-size: 30px;
      margin: 10px auto;
      display: block;
    }
  }

  scrollbar-thumb {
    border: none;
  }

  scrollbar-track {
    border: #349eeb;
  }

  ul {
    margin: 0;
    padding: 0;
    display: block;
  }
}

.active {
  //border: 2px solid #349eeb !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

li {
  list-style-type: none;
  border-bottom: 3px solid cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite;
}

.button_delete {
  border: none;
  width: 25px;
  height: 25px;
  background: url("../img/delete-button.png") no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  margin-right: 5px;
}

.osnov {
  text-align: center;
  .header{
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background: white;

  }

  h1 {
    margin: 0 auto;
  }
}

#enter {
  width: 80%;
  height: 30px;
  font-size: 18px;
  margin-right: 10px;
}

@mixin button ($background, $background-size, $width, $height, $border, $cursor){
  background: $background no-repeat;
  background-size: $background-size;
  width: $width;
  height: $height;
  border: $border;
  cursor: $cursor;
}

#add_button {
  @include button(url("../img/add2.png"),contain,40px,40px,none,pointer)
}
#remove_button{
  @include button(url("../img/remove.png"),contain,40px,40px,none,pointer)
}

#save_button {
  @include button(url("../img/save.png"),contain,40px,40px,none,pointer)
}

.wrap_button {
  background: url("../img/wrap.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
}

.wrap_button:focus {
  outline: none;
}

.d {
  background: #349eeb;
}
label {
  .text{
    color: black;
    font-size: 20px;
  }
  display: flex;
  .checkbox {
    display: none;
  }
  .checkbox-custom {
    width: 25px;
    height: 25px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
  }
}
.checkbox:checked + .checkbox-custom:before {
  content: '✔';
  top: 5px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  //background: url(../img/check.png) no-repeat;
  background-size: contain;
}

.el {
  background: cornsilk!important;
}
.buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}
.DoneTask{
  background: cornsilk;
}
